body {
  background-color: #333333;
  color: #bbbbbb
}

a {
  color: #ff8833;
  text-decoration: none;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

pre {
  font-size: 16px;
  white-space: pre-wrap;
}

div.content {
  margin-top: 50px;
}

div.tile {
  display: inline-block;
  margin: 1px;
  border: 2px solid black;
  vertical-align: top;
  text-align: center;
  padding-top: 12px;
}

div.oneXone {
  width: 114px;
  height: 114px;
}

div.oneXtwo {
  width: 238px;
  height: 114px;
}

div.oneXthree {
  width: 362px;
  height: 114px;
}

div span.fa {
  font-size: 64px;
}