body {
  background-color: #23272a;
  color: #99aab5;
  font-family: "Times New Roman";
}

a {
  color: #f47fff;
  text-decoration: underline;
}

details {
  color: #99aab5;
  background-color: #2c2f33;
  border: 2px solid #888888;
  border-radius: 10px;
  margin-top: 10px;
  width: 366px;
}

details[open] summary {
  border-radius: 8px 8px 0px 0px;
}

summary {
  height: 42px;
  width: 350px;
  background-color: #888888;
  color: #2c2f33;
  font-size: 16px;
  display: block;
  padding: 8px;
  border-radius: 8px;
}

pre {
  margin: 5px;
  white-space: pre-wrap;
}

pre > span {
  background-color: #000000;
  font-family: "Courier New";
}

summary > span:nth-child(1) {
  color: rgba(0,0,0,0.1);
  float: right;
  font-size: 36px;
  font-family: "OCR A Std", monospace;
}

summary > span:nth-child(2) {
  color: #595959;
  font-weight: bold;
  font-size: 12px;
}

summary > span:nth-child(3) {
  font-size: 12px;
}

summary > span:nth-child(5) {
  font-weight: bold;
  font-size: 18px;
}