/* Define the custom font using @font-face */
@font-face {
  font-family: 'CustomFont';
  src: url('RadioNewsman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HeaderFont';
  src: url('Headline Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Apply the custom font to the body */
body {
  font-family: 'CustomFont', sans-serif;
  /* Use the font name defined above and provide fallback fonts */
  background-color: #1A1C1A;
  color: #F5F2E8;
  background: url(background.jpg);
}

a {
  color: #ff712e;
  text-decoration: none;
}

h3 {
  font-family: 'HeaderFont';
  font-size: 24px;
  padding: 0px;
  margin: 0px;
  padding-top: 36px;
}

p {
  font-family: 'CustomFont';
  font-size: 16px;
  padding: 0px;
  margin: 0px;
}

nav {
  color: #1A1C1A;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.4);
}

nav a img {
  margin: 5px;
  margin-top: 10px;
  height: 32px;
  width: 32px;
}

#archiveDiv {
  display: none;
}