:root {
  --background-color: #333;
  --text-color: #fff;
  --accent-color1: #0071CE;
  --accent-color2: #FCB61A;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0; /* Add this line to remove default margin */
  padding: 0; /* Add this line to remove default padding */
}

a {
  color: var(--accent-color2);
  text-decoration-style: dotted;
}

nav {
  font-family: "Helvetica", sans-serif;
  height: 56px;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color1);
  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  align-items: center;
}

.menu-toggle {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  margin-left: 8px;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color2);
  transition: 0.4s;
}

.wm-blue {
  margin-left: 8px;
  font-size: 20px;
  color: var(--text-color); /* Update to use the text color variable */
}



.greet {
  font-weight: bolder;
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
}

section {
  margin: 0 auto;
  width: 95%;
  max-width: 600px; /* Adjust the max-width as needed */
  border: 1px solid var(--text-color);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3px; /* Center the content horizontally within the section */
}
