/* Define the custom font using @font-face */
@font-face {
  font-family: 'CustomFont';
  /* Give your font a name */
  src: url('RadioNewsman.ttf') format('truetype');
  /* Specify the font file and format */
  font-weight: normal;
  /* Font weight (e.g., normal, bold) */
  font-style: normal;
  /* Font style (e.g., normal, italic) */
}

/* Apply the custom font to the body */
body {
  font-family: 'CustomFont', sans-serif;
  /* Use the font name defined above and provide fallback fonts */
  background-color: #1A1C1A;
  color: #F5F2E8;
  background: url(background.jpg);
}

nav {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
nav a img {
  margin: 5px;
  margin-top: 10px;
  height: 32px;
  width: 32px;
}

#toolsDiv {
  display: none;
}